.color-white{color: $white;}
.bg-white{background: $white;}
.color-black{color: $black;}
.bg-black{background: $black;}
.color-gray{color: $gray;}
.bg-gray{background: $gray}
.color-dark{color: $dark;}
.bg-dark{background: $dark;}
.color-silver{color: $silver;}
.bg-silver{background: $silver;}
.color-blue{color: $blue;}
.bg-blue{background: $blue;}
.p{
    padding: 0.5rem;
    &-1{padding: 1rem;}
    &-2{padding: 2rem;}
    &-3{padding: 3rem;}
    &-4{padding: 4rem;}
}
.px{
    padding: 0 0.5rem;
    &-1{padding: 0 1rem;}
    &-2{padding: 0 2rem;}
    &-3{padding: 0 3rem;}
    &-4{padding: 0 4rem;}
}
.py{
    padding: 0.5rem 0;
    &-1{padding: 1rem 0;}
    &-2{padding: 2rem 0;}
    &-3{padding: 3rem 0;}
    &-4{padding: 4rem 0;}
}
.m{
    margin: 0.5rem;
    &-1{margin: 1rem;}
    &-2{margin: 2rem;}
    &-3{margin: 3rem;}
    &-4{margin: 4rem;}
}    
.mx{
    margin: 0 0.5rem;
    &-1{margin: 0 1rem;}
    &-2{margin: 0 2rem;}
    &-3{margin: 0 3rem;}
    &-4{margin: 0 4rem;}
}    
.my{
    margin: 0.5rem 0;
    &-1{margin: 1rem 0;}
    &-2{margin: 2rem 0;}
    &-3{margin: 3rem 0;}
    &-4{margin: 4rem 0;}
}
.logo{
    font-family:$font-family-logo;
    font-size: 2rem;
}
.btn{
    padding: 0.7rem 1.5rem;
    display: block;
    &:hover{
        opacity: 0.9;
    }
}
@keyframes anim{
    from{
        bottom: 5%;
    }
    to{
        bottom: 10%;
    }
}
.container{
    max-width: $max-width;
    margin: 0 auto;
}
.menu{
    &-main{
        display: flex;
        position: relative;
        &-item{
            transition: all 0.5s;
            a{transition: all 0.5s;}
            &:hover{
                a{
                    color: $blue;
                }
            }
        }
        .menu-sub{
            display: none;
            transition: all 0.5s;
            border-radius: 5px;
            position: absolute;
            li{
                display: flex;
                justify-self: flex-start;
                width: 10vw;
                a{
                    border-bottom: 1px solid $silver;
                    width: 100%;
                    color: $dark;
                }
                &:hover{
                    a{
                        color: $blue;
                    }
                    .menu-sub2{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        right: 100%;
                        border-radius: 5px;
                        li{
                            a{
                                color: $dark;
                                transition: all 0.5s;
                            }
                            &:hover{
                                a{
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
            }
            .menu-sub2{
                display: none;
            }
        }
        li:hover .menu-sub{
            display: flex;
            flex-direction: column;
        }
    }
}
.nav{
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu-search{
            display: flex;
            align-items: center;
            .search{border-left: 1px solid $gray}
        }
    }
}
.search{
    ul li{
        position: relative;
    }
    ul li ul{
        display: none;
        position: absolute;
        background: $white;
        padding: 1.5rem 1rem;
        border-radius: 5px;
    }
    ul li ul li form input{
        outline: none;
        border: 1px solid $silver;
        border-radius: 5px;
        padding: 0.5rem ;
        transition: all 0.5s;
        &:hover{
            border-color: $blue;
        }
    }
    ul li:hover ul{
        display: block;
    }
}
.header-main{
    height: 90%;
    .container{
        height:inherit ;
        .content{
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
//footer
#footer{
    &-main{
        .content{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            article{
                width: 20%;
                .social{
                    i{transition: all 0.5s}
                    i:hover{
                        color: $white;
                        background: $gray;
                    }
                }
                form{
                    display: flex;
                    input[type='email']{
                        border-radius: 0 20px 20px 0;
                        border: none;
                        width: 70%;

                    }
                    input[type='submit']{
                        border-radius: 20px 0 0 20px;
                        border: none;
                        font-size: 0.6rem;
                        font-family: $font-family-shabnam;
                        border-right: 1px solid $gray;
                        width: 30%;
                        transition: all 0.5s;
                        &:hover{
                            background: $gray;
                            color: $silver;
                            cursor: pointer;
                        }
                    }
                }
                .twitter{
                    display: flex;
                    .date{font-size: 0.7rem}
                    .text{
                        a{p{transition: all 0.5s}}
                        a:hover{p{color: $white}}
                    }
                }
            }
        }
    }
    &-min{
        .content{
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
        }
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:$gray;
    font-family: $font-family-shabnam;
    font-size: 0.8rem;
}
::-moz-placeholder { /* Firefox 19+ */
    color:$gray;
    font-family: $font-family-shabnam;
    font-size: 0.8rem;
}
:-ms-input-placeholder { /* IE 10+ */
    color:$gray;
    font-family: $font-family-shabnam;
    font-size: 0.8rem;
}
:-moz-placeholder { /* Firefox 18- */
    color:$gray;
    font-family: $font-family-shabnam;
    font-size: 0.8rem;
}
.border-radius-50{
  border-radius: 50px;
}


