$max-width:1200px;
$white:#fff;
$dark:#212529;
$gray:#8a8a8a;
$black:#1c2023;
$blue:#0089ef;
$silver:#ededed;
$bg-header-home:url('../images/header-home.jpg');
$bg-section-3:url('../images/bg-section-3.jpg');
$bg-header-services:url('../images/bg-header-service.jpg');
$bg-header-contact-us:url('../images/bg-header-contact-us.jpg');
$bg-header-about-us:url('../images/header-about-us.jpg');
